

@model StarBusEnterprise.FormViewModel.MAinViewModel


@{
    var Ticket =ViewBag.TicketNumber;
    var TotalAmount = ViewBag.TotalAmount;
    var totalseat = ViewBag.TotalSeat;
    var BusNumber = ViewBag.BusNumber;
    //var price=
    //ViewBag.ImgPath = Convert.ToString(img_p);
            Layout = null;
}


<div class="container">

    <div class="col-md-12">
      





        <div class="form-group row">
            <label class="control-label col col-lg-6" for="Pnr">Ticket Number</label>
            <input class="form-control "  style="width:382px;"
                   id="Pnr" name="Pnr" value=" @Ticket" readonly="readonly">
          
          
        </div>

            <div class="form-group row">
                <label class="control-label col col-lg-6" for="CName"> Name</label>
                <input class="form-control col col-lg-6" type="text" data-val="true" data-val-length="less data" data-val-length-min="4"
                       data-val-required="The CName field is required." id="CName" name="CName" value="@Model.Passengerinfo.CName" autocomplete="off">
                <span class="text-danger field-validation-valid" data-valmsg-for="CName" data-valmsg-replace="true"></span>
            </div>

            <div class="form-group row">
                <label class="control-label col col-lg-6" for="CPhone"> Phone</label>
                <input class="form-control col col-lg-6" type="text" data-val="true" data-val-length="less data" data-val-length-min="4"
                       data-val-required="The CPhone field is required." id="CPhone" name="CPhone" value="@Model.Passengerinfo.CPhone" autocomplete="off">
                <span class="text-danger field-validation-valid" data-valmsg-for="AdvantageName" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group row">
                <label class="control-label col col-lg-6" for="Totalseat">Total Seat :</label>
                <input class="form-control col col-lg-6" type="text" data-val="true"
                       id="Totalseat" name="Totalseat" value="@totalseat" readonly="readonly">

              

            </div>
            <div class="form-group row">
                <label class="control-label col col-lg-6" for="BusNumber">BusNumber:</label>
                <input class="form-control col col-lg-6" type="text" data-val="true"
                       id="BusNumber" name="BusNumber" value=" @BusNumber" readonly="readonly">
               

            </div>
            <div class="form-group row">
                <label class="control-label col col-lg-6" for="Amount">Total Amount</label>
                <input class="form-control col col-lg-6" type="text" data-val="true"
                       id="Amount" name="Amount" value=" @TotalAmount" readonly="readonly">

              
            </div>

            <div class="form-group">


                <a class="btn btn-success btn-group" onclick="saveSpecification()"><i class="fas fa-save"> </i></a>


            </div>
      
    </div>
</div>
<div id="domMessage" style="display:none;">
    <h1>We are processing your request.  Please be patient.</h1>
</div>

@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@

<script>
    function saveSpecification() {

        //var formData1 = new FormData(document.getElementById('ticketbookingForm'));
        //var fileUpload = $("#file").get(0);
        //var files = fileUpload.files;
        //for (var i = 0; i < files.length; i++) {
        //    formData1.append(files[i].name, files[i]);

               var formData1 = $("#ticketbookingForm").serialize();
            const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false
        })
        swalWithBootstrapButtons.fire({
            title: 'Are you sure?',
            text: "You won't Change this Later!",
            icon: 'success',
            showCancelButton: true,
            confirmButtonText: 'Yes, Save it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: true
        }).then((result) => {
          
            if (result.value) {
                event.preventDefault();
                var $daer = $('#ticketbookingForm');
                if ($daer.valid()) {


                    $.ajax
                        (
                            {
                                url: "/Admin/Booking/SavePssengerInfo/",
                                method: "POST",
                                data: formData1,
                                success: function (data) {
                                    swalWithBootstrapButtons.fire(
                                        'SUccess',
                                        'Yor file is Saved :)'

                                    ).then(function () { window.location.href = "/Admin/Booking/PrintTicket?id=" + data; });
                                   
                                  
                                }

                            }
                        );
                }
            }
            else if (
                /* Read more about handling dismissals below */
                result.dismiss === Swal.DismissReason.cancel
            ) {
                $("#myModal").modal("hide");
                swalWithBootstrapButtons.fire(
                    'Cancelled',

                    'error'
                )
            }
        })

    }







 
</script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>