@model StarBusEnterprise.FormViewModel.CustomercareViewModel



@{
    Layout = null;
}
<style>
    hr {
        background-color: black;
    }

    
</style>

<div class="container" style="padding: 20px;margin-top:10px;">
    <div class="row">
        <div class="text-center col col-lg-12">
            <h4>Dial Customer Care:</h4>
        </div>
        @foreach (var item in Model.CustomerCareTableList)
        {

            <div class="col col-lg-12 text-center  text-danger" style="padding:5px;">
                <b>  +91 @item.CustomerCareNumber</b>
            </div>

        }
        <div class="text-center col col-lh-12" style="font-size:15px;">
            <i>   (Timing: 10:00 am - 10:00 pm, Mon-Sun)</i>
        </div>








    </div>
    <hr />
    <div class="row">
        @foreach (var item in Model.addrerssTAblesList)
        {<div class="col col-lg-6" style="padding:10px">

                <div class="text-center col col-lg-12" style="color:black;background-color:lightgrey; padding:10px;">

                    <b> @item.AddressName</b>
                </div>

                <div class="text-center col col-lg-12" style="padding:10px;font-size:15px;">

                    <p>
                        <strong>
                            @item.Location <br />

                            @item.Location2 <br />


                            @item.District - @item.PinCode (@item.States)
                        </strong>
                    </p>
                </div>
            </div>
        }

    </div>
    <hr />
    <div class="row">
        <div class="col text-center col-lg-12 text-center">
            <p style="font-size:15px;">
                <b>or Email us at:</b>
                <a href="#">
                    brij.net@gmail.com
                </a>
            </p>


        </div>
    </div>
</div>