

@{
    ViewBag.Title = " Login";
    Layout = null;
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

@model StarBusEnterprise.FormViewModel.LoginViewModel



<div class="container">
    <h4>Login Form</h4>
    <hr />
    <div class="col-md-12">
        <form id="MAnageClient" class="col-lg-12">
            @Html.AntiForgeryToken()
            @*<div asp-validation-summary="All">
            <span>Please correct the following errors</span>
        </div>*@

            <div class="text-danger validation-summary-errors" data-valmsg-summary="true"></div>
            @*<input type="hidden" asp-for="ManageClient.ClientId" name="ClientId" class="form-control" value="@Model.Email" />*@

            <div class="form-group">
                <label class="control-label" for="Email">Email</label>
                <input class="form-control" type="email" data-val="true" data-val-length="less data" data-val-length-max="50" data-val-length-min="4"
                       data-val-required="The FirstName field is required." id="Email" maxlength="50" name="Email" value="@Model.Email">
                <span class="text-danger field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <label class="control-label" for="Password">Password</label>
                <input class="form-control" type="password" data-val="true" data-val-length="less data" data-val-length-max="50" data-val-length-min="4"
                       data-val-required="The Password field is required." id="Password" maxlength="50" name="Password" value="@Model.Password">
                <span class="text-danger field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <div class="custom-checkbox">
                    <label class="control-label" for="Showpassword">
                       Show password
                        <input class="form-check-control" type="checkbox" id=" Showpassword" name="Showpassword" onclick="showPwd()" value="true">
                    </label>

                </div>


            </div>

            <div class="form-group">
                <div class="custom-checkbox">
                    <label class="control-label" for="rememberme">
                        Remember Me
                        <input class="form-check-control" type="checkbox" id="rememberme" name="rememberme" value="true" @(Model.rememberme ? "checked=\"checked\"" : "")>
                    </label>

                </div>




            </div>

            <div class="form-group  text-center">


                <a @*style="text-align:center;"*@ class="btn btn-success btn-group" onclick="saveSpecification()">Login</a>

                @*<a class="btn btn-success btn-group" onclick="Delete()">Delete</a>*@
            </div>
        </form>
    </div>
</div>
<div id="domMessage" style="display:none;">
    <h1>We are processing your request.  Please be patient.</h1>
</div>

@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@

<script>
    //FOR SHOW AND HIDE PASSWORD
    function showPwd() {
        var x = document.getElementById("Password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
    function saveSpecification() {

        var formData1 = $("#MAnageClient").serialize();
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false
        })
        swalWithBootstrapButtons.fire({
            title: 'Are you sure?',
            text: "Data is correct?",
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Yes, Save it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: true
        }).then((result) => {
            if (result.value) {
                event.preventDefault();
                var $daer = $('#MAnageClient');
                if ($daer.valid()) {


                    $.ajax
                        (
                            {
                                url: "/Account/Login/",
                                method: "POST",
                                data: formData1,

                                success: function (data) {


                                    swalWithBootstrapButtons.fire(
                                        'Login SUccess'


                                    )
                                        .then(function () {
                                            $("#myModal").modal("hide");
                                            window.location.href = "@Url.Content("/StarBus/Index/")"
                                            //window.location.href = "/Hotelmanage/Home/Index";
                                        });

                                }

                            }
                        );
                }
            }
            else if (
                /* Read more about handling dismissals below */
                result.dismiss === Swal.DismissReason.cancel
            ) {
                $("#myModal").modal("hide");
                swalWithBootstrapButtons.fire(
                    'Cancelled',

                    'error'
                )
            }
        })

    }







    //function Delete() {
    //    var formData1 = $("#MAnageClient").serialize();
    //    const swalWithBootstrapButtons = Swal.mixin({
    //        customClass: {
    //            confirmButton: 'btn btn-success',
    //            cancelButton: 'btn btn-danger'
    //        },
    //        buttonsStyling: false
    //    })
    //    swalWithBootstrapButtons.fire({
    //        title: 'Are you sure?',
    //        text: "You won't be able to revert this!",
    //        icon: 'warning',
    //        showCancelButton: true,
    //        confirmButtonText: 'Yes, delete it!',
    //        cancelButtonText: 'No, cancel!',
    //        reverseButtons: true
    //    }).then((result) => {
    //        if (result.value) {
    //            $.ajax(
    //                {
    //                    method: "POST",
    //                    url: "/Hotelmanage/ManageClients1/DeleteConfirmed/",

    //                    data: formData1,
    //                    success: function (result) {


    //                        $("#myModal").modal("hide");

    //                        //window.location.reload();
    //                        swalWithBootstrapButtons.fire(
    //                            'SUccess',
    //                            'Yor file is deleted :)'

    //                        )
    //                            .then(function () { window.location.reload(); });

    //                    }

    //                });


    //        }
    //        else if (
    //            /* Read more about handling dismissals below */
    //            result.dismiss === Swal.DismissReason.cancel
    //        ) {
    //            $("#myModal").modal("hide");
    //            swalWithBootstrapButtons.fire(
    //                'Cancelled',
    //                'Your imaginary file is safe :)',
    //                'error'
    //            )
    //        }
    //    })

    //}

</script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>