@model StarBusEnterprise.Models.DomainWork.TimeList

<style>
    .form-group {
        color: black;
        border-color: black;
    }
    .form-control {
        border-color: black;
        color: black;
    }
</style>
<div class="container">
  
    <div class="col col-lg-12">
        <h4 style="text-align:center;">StarBus TimeList </h4>
        <hr />

    </div>
    <div class="col-md-12">
        <form id="MAnageClient" class="col-md-12">
            @Html.AntiForgeryToken()


            <input type="hidden" name="Id" class="form-control" value="@Model.Id" />

            <div class="form-group">
                <label class="control-label" for="Sno"> Sno</label>
                <input class="form-control" type="text" data-val="true" data-val-length="less data" data-val-length-min="1"
                       data-val-required="The Sno field is required." id="Sno" name="Sno" value="@Model.Sno">
                <span class="text-danger field-validation-valid" data-valmsg-for="Sno" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-3">
                        <label class="col-form-label" for="StationName">StationName:</label>
                    </div>
                    <div class="col-md-8">
                        <select class="form-control" id="StationName" name="StationName" data-val="true" data-val-required="Please Select.">
                            <option selected disabled>--select--</option>
                            @foreach (var item in Model.DestantionTableList)
                            {
                                <option value="@item.DestinationName" selected="selected">@item.DestinationName</option>
                            }
                        </select>
                        <span class="field-validation-valid text-danger" data-valmsg-for="StationName" data-valmsg-replace="true"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="RatePerSeat"> RatePerSeat</label>
                <input class="form-control" type="text" data-val="true" data-val-length="less data" data-val-length-min="1"
                       data-val-required="The RatePerSeat RatePerSeat is required." id="Sno" name="RatePerSeat" value="@Model.RatePerSeat">
                <span class="text-danger field-validation-valid" data-valmsg-for="RatePerSeat" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <label class="control-label" for="Time"> Time</label>
                <input class="form-control" type="time" data-val="true" data-val-length="less data"
                       data-val-required="The Time RatePerSeat is required." id="Sno" name="Time" value="@Model.Time">
                <span class="text-danger field-validation-valid" data-valmsg-for="Time" data-valmsg-replace="true"></span>
            </div>

            <div class="form-group">
                <label class="control-label" for="ReachTime"> ReachTime</label>
                <input class="form-control" type="time" data-val="true" data-val-length="less data"
                       data-val-required="The ReachTime  is required." id="Sno" name="Time" value="@Model.ReachTime">
                <span class="text-danger field-validation-valid" data-valmsg-for="ReachTime" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <label class="control-label" for="BusNumber"> BusNumber</label>
                <input class="form-control" type="text" data-val="true" data-val-length="less data" data-val-length-min="1"
                       data-val-required="The BusNumber  is required." id="BusNumber" name="BusNumber" value="@Model.BusNumber">
                <span class="text-danger field-validation-valid" data-valmsg-for="BusNumber" data-valmsg-replace="true"></span>
            </div>


            @*<div class="form-group">
                    <label class="control-label" for="TimeReach"> TimeReach</label>
                    <input class="form-control" type="time" data-val="true" data-val-length="less data" data-val-length-min="1"
                           data-val-required="The TimeReach  is required." id="BusNumber" name="TimeReach" value="@Model.TimeReach">
                    <span class="text-danger field-validation-valid" data-valmsg-for="TimeReach" data-valmsg-replace="true"></span>
                </div>


                <div class="form-group">
                    <label class="control-label" for="ReachTimeT"> ReachTimeT</label>
                    <input class="form-control" type="time" data-val="true" data-val-length="less data" data-val-length-min="1"
                           data-val-required="The ReachTimeT  is required." id="BusNumber" name="ReachTimeT" value="@Model.ReachTimeT">
                    <span class="text-danger field-validation-valid" data-valmsg-for="ReachTimeT" data-valmsg-replace="true"></span>
                </div>*@









            <div class="form-group">


                <a class="btn btn-success btn-group" onclick="saveSpecification()"><i class="fas fa-save"> </i></a>

                <a class="btn btn-danger btn-group" onclick="Delete()"><i class="fas fa-trash-alt"></i></a>
            </div>
        </form>
    </div>
</div>


<script>
    function saveSpecification() {

        var formData1 = $("#MAnageClient").serialize(); const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false
        })
        swalWithBootstrapButtons.fire({
            title: 'Are you sure?',
            text: "You won't Save this!",
            icon: 'success',
            showCancelButton: true,
            confirmButtonText: 'Yes, Save it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: true
        }).then((result) => {
            if (result.value) {
                event.preventDefault();
                var $daer = $('#MAnageClient');
                if ($daer.valid()) {


                    $.ajax
                        (
                            {
                                url: "/Admin/TimeList/Create/",
                                method: "POST",
                                data: formData1,

                                success: function (data) {


                                    swalWithBootstrapButtons.fire(
                                        'SUccess',
                                        'Yor file is Saved :)'

                                    )
                                        .then(function () {
                                            $("#myModal").modal("hide");
                                            window.location.reload();
                                        });

                                }

                            }
                        );
                }
            }
            else if (
                /* Read more about handling dismissals below */
                result.dismiss === Swal.DismissReason.cancel
            ) {
                $("#myModal").modal("hide");
                swalWithBootstrapButtons.fire(
                    'Cancelled',

                    'error'
                )
            }
        })

    }







    function Delete() {
        var formData1 = $("#MAnageClient").serialize();
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false
        })
        swalWithBootstrapButtons.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: true
        }).then((result) => {
            if (result.value) {
                $.ajax(
                    {
                        method: "POST",
                        url: "/Admin/TimeList/DeleteConfirmed/",

                        data: formData1,
                        success: function (result) {


                            $("#myModal").modal("hide");

                            //window.location.reload();
                            swalWithBootstrapButtons.fire(
                                'SUccess',
                                'Yor file is deleted :)'

                            )
                                .then(function () { window.location.reload(); });

                        }

                    });


            }
            else if (
                /* Read more about handling dismissals below */
                result.dismiss === Swal.DismissReason.cancel
            ) {
                $("#myModal").modal("hide");
                swalWithBootstrapButtons.fire(
                    'Cancelled',
                    'Your imaginary file is safe :)',
                    'error'
                )
            }
        })

    }

</script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>


